name: Deploy

on:
  # pull_request:
  #   branches:
  #   - main
  push:
    branches:
      - deploy
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: SSH Remote Commands
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        script: |
          cd /www/wwwroot/api.tp.794td.cn
          git pull origin deploy
          git checkout deploy
          npm install
          export DATABASE_URL=${{ secrets.DATABASE_URL }}
          npx prisma db pull
          npx prisma generate
          npm run build
